.main-content-center {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: auto;

  .file-btn {
    width: 100%;
    height: 100%;
    font-size: var(--h1FontSize);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #03a96b;
    background-color: var(--whiteColor);
    border: 1.5px dashed;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3 ease;

    &:hover {
      opacity: 0.9;
    }

    span {
      width: 5rem;
      height: 5rem;
      font-size: 45px;
      color: #03a96b;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--inputColor);
    }
  }

  .upload-btn {
    width: 50%;
    color: var(--whiteColor);
    background-color: #03a96b;
    border: none;
    border-radius: 0.25rem;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      background-color: #198754;
    }
  }

  .file-card {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--blackColor);
    background-color: var(--whiteColor);
    border: 1px solid var(--greyText);
    border-radius: 6px;
    padding: 0.5rem 1rem;

    span {
      display: flex;
      font-size: 30px;
      color: #03a96b;
    }

    .file-info {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 1rem;

      h6 {
        flex: 1;
        font-size: 13px;
        font-weight: 400;
      }

      span {
        display: flex;
        font-size: 18px;
        cursor: pointer;
      }

      button {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--inputColor);
        border: none;
        border-radius: 30px;

        span {
          &:hover {
            color: #198754;
            transition: 0s ease;
          }
        }

        &:hover {
          background: var(--bgColor);
        }
      }

      .progress-bg {
        width: 100%;
        height: 5px;
        background-color: var(--greyText);
        border-radius: 8px;
        margin-top: 8px;

        .progress {
          width: 0%;
          height: 5px;
          background-color: #03a96b;
          border: 8px;
          transition: width 0.5s ease;
        }
      }
    }
  }
}
