@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--whiteColor);
  overflow: hidden;
  box-shadow: 2px 2px 8px var(--greyText);
  margin: auto;
}

/* Colors and Styles (Default) */
:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);

  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.pagination {
  .page-item.active .page-link {
    border: 1px solid;
    background-color: #03a96b;
  }

  .page-link {
    background-color: var(--whiteColor);
    color: var(--blackColor);

    &:hover {
      background-color: var(--bgColor);
      color: var(--textColor);
    }
  }
}

p {
  margin: 0;
}

// ::-webkit-scrollbar {
//   display: none;
// }
