.react-select-container {
    .react-select__control {
        height: 35px;
        min-height: 35px;
        box-shadow: none;
        border-color: #CCCCCC;
        &.react-select__control--is-focused {
            border-color: #03A96B;
            box-shadow: none;
        }
    }
    .react-select__indicator-separator {
        display: none;
    }
    .react-select__menu {
        margin-top: 5px;
    }
}

.react-select__option {
    background-color: #FFFFFF !important;
    &.react-select__option--is-selected {
        background-color: #2B976F !important;
    }
    &.react-select__option--is-selected:hover {
        background-color: #2B976F !important;
    }
    &:hover {
        background-color: #D3E9E1 !important;
    }
}

