:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);

  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.content-grid {
  display: flex;
  background: var(--whiteColor);
  border-radius: 10px;
  padding: 16px;
  column-gap: 16px;
  width: 100%;
  overflow: auto;

  .grid-cl {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 16px;
    
    h3 {
      font-size: 30px;
      font-weight: 400;
    }
  }
}

.drop-target {
  display: flex;
  grid-template-columns: repeat(9, 1fr);
  margin-top: 30px;
  padding: 16px;
  background: var(--whiteColor);
  border-radius: 10px;
  height: 15%;
  
  .content-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid;
    overflow-y: auto;
  }
}
