.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03a96b;
  padding: 10px;

  .content-top-left {
    display: flex;
    align-items: center;

    .sidebar-toggler {
      display: flex;
      color: var(--whiteColor);
      font-size: 30px;
      margin-right: 12px;
      cursor: pointer;
      &:hover {
        // filter: brightness(0) invert(0);
        filter: brightness(0.8);
      }
    }
  }

  .content-top-btns {
    display: flex;
    align-items: center;

    .profile {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 0.8rem;

      img {
        width: 30px;
        margin-right: 1rem;
        border-radius: 50%;
      }

      h2 {
        margin: 0;
        color: var(--whiteColor);
        font-size: var(--h2FontSize);
        font-weight: 500;
      }
    }

    .setting-btn {
      color: var(--whiteColor);
      font-size: 20px;
      margin-right: 1rem;

      &:hover {
        filter: brightness(0.8);
      }
    }

    .logout-btn {
      color: var(--whiteColor);
      font-size: 20px;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
